$largeDesktop: 1920px;
$mediumDesktop: 1440px;
$smallDesktop: 1280px;
$largeTablet: 1024px;
$smallTablet: 768px;
$largeMobile: 480px;
$smallMobile: 320px;


$link-red-color: #EE4023;
$text-dark-blue-color: #160F3E;
$text-light-blue-color: #003D98;
$text-light-green-color: #037C5F;
$text-dark-red-color: #7C0303;